.notefront_wrapper{
    /* width:100vw; */
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.notefront_wrapper > button{
    position: absolute;
    top:25%;
    left:100%;
    width:max-content;
    background-color: rgb(226, 221, 221);
    color:rgb(65, 65, 65)
}
