.slide_wrapper{
    display:flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 2rem;
    /* justify-content: space-around; */
    align-content: space-around;
    align-items: center;
   
}
.slide_title > h1{
    font-size: 2rem;
    text-align: center;
    color:rgb(3, 9, 123)
}
.demo_slider{
    display: flex;
    justify-content: space-around;
    gap:30px;
}
.the_arrow {
    align-self: center;
    width:70px;
    height: 70px;
}
.startnow_btn{
    margin-right: 10px;
    height:2rem;
    border-radius: 0.5rem;
    background-color: rgb(18, 183, 243);
    
}

.the_arrow > img{
    height: 100%;
    width: 100%;
}
.textbox_left , .textbox_right{
    background-color: rgba(226, 217, 217, 0.993);
    height: 15rem;
    width:40%;
}
.textbox_right{
    background-color: rgb(146, 201, 201);
}
.left_text , .right_text{
    text-align: left;
    height: 11rem;
    margin:2rem;
    padding:2rem;
    background-color: white;

}

.left_text{
    box-shadow: 10px 10px 40px #ffc8c8;
}
.right_text{
    box-shadow: 10px 10px 40px #1fc057;
}
