.hero_container{
    margin:100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:var(--primary-text-color)
}

.hero_text{
    text-align: left; 
    margin-bottom: 100px;
    padding-left: 2rem;
}
.hero_title > h1{
    font-size: 40pt;
    color: rgb(97, 97, 255);
    padding-bottom: 1rem;
    
}
.hero_title > h2 , .hero_title > h2 strong{
    font-size: 20pt;
    font-weight: bolder;
}
.hero_descr > p{
    padding: 0.5rem 0rem;
    font-size: 16pt;
}
.img_container{
    width:29rem;
    height: 20rem;
    overflow: hidden;
    padding-right:1rem;
}
.img_container>img{
    height:100%;
    width: 100%;
}

.getstarted_btn{
    margin-top: 20px;
    padding:  10px;
    border-radius: 10px;
    width:20%;
    height: 100%;
    background-image: linear-gradient(30deg, #83a8f8, #9696ff,rgb(203, 203, 249));
}
